html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.agreement {
  color: #ffffff;
  background-color: #000;
  padding: 20px 30px;
}
.pagination {
  position: fixed;
  width: 5px;
  height: 100%;
  background-color: #e0e0e0;
  right: 0;
  top: 0;
  z-index: 2;
}
.pagination-active {
  position: fixed;
  width: 5px;
  background-color: red;
  right: 0;
  top: 0;
  z-index: 3;
}
/* .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */
.stepOne {
  background-image: url('../images/bg02.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepOne-bg {
  text-align: center;
  flex: 1;
}
.stepOne-bg img {
  width: 70%;
  max-width: 960px;
}
.nav {
  color: #ffffff;
  position: fixed;
  right: 20px;
  top: 20%;
  z-index: 2;
  text-align: right;
  overflow: hidden;
}
.nav-title {
  position: relative;
  margin-bottom: 20px;
  background-image: url('../images/inded-nav.png');
  background-size: 100% 100%;
  width: 65px;
  height: 65px;
  text-align: center;
  margin-left: 54px;
  cursor: pointer;
  float: right;
  z-index: 2;
}
.nav-title span {
  display: inline-block;
  padding-top: 16px;
  font-size: 11px;
}
.nav-word {
  position: relative;
  margin-bottom: 5px;
}
.nav-word span {
  width: 75px;
  height: 50px;
  text-align: center;
  margin-left: 54px;
  cursor: pointer;
  display: inline-block;
  padding-top: 30px;
}
.nav-word::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f82f3f;
  right: -15px;
  bottom: 30px;
}
.nav-list {
  padding-right: 40px;
  font-size: 16px;
  text-align: right;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.nav-list::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 315px;
  background-color: #ffffff;
  opacity: 0.4;
  right: 32px;
  top: 64px;
}
.defalut-bg {
  background-image: url('../images/bg02.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
}
.video-bg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mac-bg {
  width: 100%;
  height: 100%;
}
.video-play {
  width: 50%;
  cursor: pointer;
  position: relative;
  /* z-index: 3; */
}
.active span {
  background-image: url('../images/nav-bg.png');
  background-size: 100% 100%;
  font-size: 14px;
}
.defalut-bg .image-rows {
  background-image: url('../images/image-bg.png');
  background-size: 100% 100%;
  transform: scale(0.9);
}
.image-rows img {
  height: 100%;
  width: 100%;
}
.image-rows > div {
  padding: 15px;
}
.defalut-bg {
  display: flex;
  align-items: center;
}
.image-wrapper {
  width: 90%;
  margin: 0 auto;
}
.defalut-bg .swiper-slide-active {
  transform: scale(1);
}
.from-bg {
  color: #ffffff;
  background-image: url('../images/form-bg.png');
  background-size: 100% 100%;
  padding: 20px 30px;
  text-align: left;
  margin: 0 auto;
}
.from-title {
  font-size: 22px;
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
}
.from-title::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 15px;
  background-image: linear-gradient(to right, #e03845 , rgba(0, 0, 0, 0));
  left: 0;
  bottom: 0;
}
.from-title span {
  position: relative;
  z-index: 2;
}
.from-rows {
  display: flex;
  margin-bottom: 10px;
}
.from-content {
  flex: 1;
  padding-right: 10px;
}
.from-content input {
  width: 100%;
  background-color: #bdbebf;
  border: 1px solid #fff;
  font-size: 13px;
  height: 25px;
}
.from-name {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 3px;
  height: 19px;
}
.from-button {
  width: 200px;
  background-image: linear-gradient(to right, #b70311 , #f03f4e);
  text-align: center;
  margin: 0 auto;
  padding: 6px 0;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.from-tips {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}
.from-tips a {
  color: #ffffff;
  margin-left: 3px;
}
.from-word {
  margin-bottom: 20px;
}
.nav-back {
  width: 60px;
  cursor: pointer;
}
.stepDetail-bg {
  width: 100%;
}
.stepOne-link {
  position: absolute;
  left: 40px;
  bottom: 100px;
}
.stepOne-link img {
  width: 150px;
}
.video-content {
  position: absolute;
  width: 45%;
}
.block {
  display: block;
  z-index: 4;
}
.stepOne-pbg {
  display: none;
  text-align: center;
}
.stepOne-pbg img {
  width: 100%;
}
.stepOne-link {
  display: none;
}
.phone-nav {
  display: none;
  position: fixed;
  bottom: 10px;
  color: #d00212;
  z-index: 9;
  width: 100%;
  text-align: center;
}
.phone-word {
  border: 1px solid #d00212;
  border-radius: 16px;
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
  padding: 8px 0;
  font-weight: bold;
  font-size: 16px;
}
.phone-active {
  background-image: linear-gradient(to top, #b70311 , #f03f4e);
  color: #ffffff;
}
.stepDetail-pbg {
  display: none;
  width: 100%;
  height: 100%;
}
.stepDetail {
  height: 100%;
  background-color: #03060b;
  height: 2500px;
}
.stepOne-plink {
  display: none;
  margin: 0 10% 0 10%;
}
.stepOne-plink-left {
  width: 130px;
  height: 45px;
}
.stepOne-plink-right {
  width: 120px;
}
.stepOne-plink-right img {
  text-align: right;
  width: 100%;
  height: 58px;
}
.swiper-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  position: absolute;
  width: 95%;
  left: 2.5%;
  z-index: 999;
  top: 50%;
}
.swiper-button-next, .swiper-button-prev {
  color: #d00212!important;
  font-size: 28px;
  cursor: pointer;
}
.swiper-button-next:after {
  content: 'next';
}
.swiper-button-prev:after {
  content: 'prev';
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none!important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
.phone-live {
  position: absolute;
  top: 23%;
  left: 0;
  width: 35%;
}
.phone-live img {
  width: 100%;
}
@media screen and (max-width: 750px) {
  body {
    background-color: #0c1015;
  }
  .defalut-bg {
    background-image: none;
  }
  .swiper-flex {
    display: flex;
  }
  .nav {
    display: none;
  }
  .stepOne-bg {
    display: none;
  }
  .stepOne-pbg {
    display: block;
  }
  .phone-nav {
    display: block;
  }
  .video-bg {
    display: block;
    text-align: center;
    position: relative;
  }
  .video-play {
    width: 80%;
    margin-top: 10%;
  }
  .video-content {
    width: 70%;
    top: 27%;
    left: 15%;
  }
  .stepDetail {
    height: auto;
  }
  .stepDetail-bg {
    display: none;
  }
  .stepDetail-pbg {
    display: block;
    height: 60%;
  }
  .stepDetail-pbg .swiper-slide {
    height: 2439px;
  }
  .stepDetail-pbg-img {
    width: 100%;
  }
  .image-wrapper {
    width: 85%;
    left: 0;
    margin: 10% auto 0 auto;
    position: relative;
  }
  .from-bg {
    width: 70%;
    padding: 10px 15px;
    margin-top: 70px;
  }
  .from-title {
    font-size: 14px;
  }
  .from-word {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .from-button {
    font-size: 12px;
    padding: 5px 0;
  }
  .from-tips {
    font-size: 12px;
  }
  .stepOne-plink {
    display: flex;
    justify-content: space-between;
  }
  .from {
    position: relative;
    height: 720px;
  }
  .from-content input {
    width: 90%;
  }
}